<form class="example-form">
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Parking Name</mat-label>
          <input matInput />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Parking Phone</mat-label>
          <span matPrefix>+84 &nbsp;</span>
          <input type="tel" matInput placeholder="0946515847" />
        </mat-form-field>
      </td>
    </tr>
  </table>

  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Owner Name</mat-label>
          <input matInput />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Owner Phone</mat-label>
          <span matPrefix>+84 &nbsp;</span>
          <input type="tel" matInput placeholder="0946515847" />
        </mat-form-field>
      </td>
    </tr>
  </table>

  <p>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Address</mat-label>
      <textarea matInput placeholder="Ex. 100 Main St"></textarea>
    </mat-form-field>
  </p>


  <div>
    <mat-form-field appearance="fill">
      <mat-label>City</mat-label>
      <mat-select>
        <mat-option *ngFor="let city of cities" [value]="city.id">
          {{ city.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>City</mat-label>
      <mat-select>
        <mat-option *ngFor="let city of cities" [value]="city.id">
          {{ city.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>City</mat-label>
      <mat-select>
        <mat-option *ngFor="let city of cities" [value]="city.id">
          {{ city.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>City</mat-label>
      <mat-select>
        <mat-option *ngFor="let city of cities" [value]="city.id">
          {{ city.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Parking Types</mat-label>
      <mat-select [formControl]="parkingTypesForm" multiple>
        <mat-option *ngFor="let parkingType of parkingTypes" [value]="parkingType.value">{{parkingType.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Lat</mat-label>
          <input matInput />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Lng</mat-label>
          <input matInput />
        </mat-form-field>
      </td>
    </tr>
  </table>
  <div class="example-button-row">
    <button mat-raised-button class="blue-btn">Add</button>
    <button mat-raised-button class="blue-btn">Back</button>
    <button mat-raised-button class="blue-btn">Reset</button>
  </div>
</form>