table {
    width: 100%;
  }

.blue-btn{
  background-color: rgb(57, 66, 190);
}

.icon-action-btn {
  display: none;
}

@media only screen and (max-width: 600px) {
  .group-action-btn {
    display: none;
  }

  .icon-action-btn {
    display: inline;
  }

  .search-parking-container {
    width: 550px;
    max-width: 100%;
    overflow: auto;
  }

  .search-parking-table{
    width: 800px;
  }

  td.mat-column-name{
    max-width: 100px;
  }
}
td.mat-column-name{
  max-width: 100px;
}

td.mat-column-status{
  text-align: center;
  font-weight: 800;
}

th.mat-column-status{
  text-align: center;
}

td.mat-column-action{
  text-align: center;
}

th.mat-column-action{
  text-align: center;
}