<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item
    [disabled]="!ActionRoles.CanApprove"
    (click)="approve()">
      <mat-icon>check_box</mat-icon>
      <span>Approve</span>
    </button>
    <button mat-menu-item 
    [disabled]="!ActionRoles.CanClose"
    (click)="close()">
      <mat-icon>close</mat-icon>
      <span>Close</span>
    </button>
    <button mat-menu-item [disabled]="!ActionRoles.CanDenied">
      <mat-icon>do_not_disturb_on</mat-icon>
      <span>Denied</span>
    </button>
    <button mat-menu-item [disabled]="!ActionRoles.CanBlock">
      <mat-icon>block</mat-icon>
      <span>Block</span>
    </button>
    <button mat-menu-item 
    [disabled]="!ActionRoles.CanReopen"
    (click)="reopen()">
      <mat-icon>autorenew</mat-icon>
      <span>Reopen</span>
    </button>
    <button mat-menu-item [disabled]="!ActionRoles.CanRemove">
      <mat-icon>delete_forever</mat-icon>
      <span>Remove</span>
    </button>
</mat-menu>