<div class="form-login">
  <form class="child-form-login" [formGroup]="loginForm">
    <div class="title-login">Welcome</div>
  <div class="subtitle-login">Parking Inside Management!</div>
  <div class="input-container-login ic1-login">
    <input id="phone" class="input-login" type="text" placeholder=" " formControlName="phoneForm"/>
    <div class="cut-login"></div>
    <label for="phone" class="placeholder-login">Phone</label>
  </div>
  <div class="input-container-login ic2-login">
    <input id="password" class="input-login" type="password" placeholder=" " formControlName="passwordForm"/>
    <div class="cut-login"></div>
    <label for="password" class="placeholder-login">Password</label>
  </div>
  <button type="button" class="btn-login" (click)="login()" [disabled]="loginForm.invalid">submit</button>
</form>
</div>

