<div class="form">
  <div class="title">Welcome</div>
  <div class="subtitle">Parking Inside Management!</div>
  <div class="input-container ic1">
    <input id="phone" class="input" type="text" placeholder=" " />
    <div class="cut"></div>
    <label for="phone" class="placeholder">Phone</label>
  </div>
  <div class="input-container ic2">
    <input id="password" class="input" type="password" placeholder=" " />
    <div class="cut"></div>
    <label for="password" class="placeholder">Password</label>
  </div>
  <button type="text" class="submit">submit</button>
</div>
